




.App{
position: fixed;
min-width: 100%;
min-height: 100%;
background-size: cover;
background-position: center;
}
.Main{
    position: relative;
    flex-grow: initial;
    color: crimson;
    align-self: center;
}
:root{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --text-primary: white;
    --text-secondary: black;
}
.body{
margin-left: 5rem;
}
